/*------------------------------------------------------------------
- #top_nav
- The Flash
- #express_modal
------------------------------------------------------------------*/
//--- #top_nav
// additional customizations in /vendor/bootstrap_customizations.scss
#top_nav{
  font-family: 'Sigmar One', cursive;
}
//--- The Flash
div.flash{
  @extend .content_block;
  text-align: center;
  margin-bottom: 10px;
}

//--- #express_modal ---
// additional customizations in /vendor/bootstrap_customizations.scss
#express_modal{
  .modal-content{
    .modal-header{
      background-color: $dark_bi_color_2;
    }
  }
}